body {
    background-color: grey;
    color: white;
    margin: 0;
}

/* i {
    font-size: xx-large;
} */

.container {
    width: 35%;
    margin: 40px auto;
    background-color: black;
    padding: 40px 0;
    border-radius: 15px;
}

.noidung {
    width: 70%;
    margin: auto;
}

.form {
    width: 80%;

    margin: auto;
    text-align: center;
}

.khoi-nut {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.noidung-tren {
    border-bottom: 2px solid grey;
}

input {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.form-duoi {
    width: 80%;
    background-color: black;
    margin: auto;
}

.google {
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    background-color: green;
    color: black;
    border: none;
}

a {
    color: white;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
}