body{ 
    margin:0;
}
ul{
    margin:0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding:20px;
}
.danhmuc-danhsach{
    display:flex;
    list-style: none;
}
.danhmuc-muc{
    margin:10px;
}
.danhmuc-lienket{
    color:white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.danhmuc-lienket:hover{
    color:grey;
}
.logo{
    height:40px;
    background-color: grey;
}
main{
    display:flex;
}
.noidung-trai{
/*height:1000px;
background-color: aqua;*/
width:80%;
border-radius: 10px; /*viền bo cong tròn */
}
.noidung-phai{
height:1000px;
background-color: red;
width:20%;
}
.tieude{
    background-color: #2fa4e7;
    padding:20px;
    color:white;
    
    font-size:x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display:flex
    justify-content: space-between;
}
.baiviet{
    height:200px;
    background-color: grey;
    width:32%;
}