body{ 
    margin:0;
}
ul{
    margin:0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding:20px;
}
.danhmuc-danhsach{
    display:flex;
    list-style: none;
}
.danhmuc-muc{
    margin:10px;
}
.danhmuc-lienket{
    color:white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.danhmuc-lienket:hover{
    color:grey;
}
.logo{
    height:40px;
    background-color: grey;
}
main{
    display:flex;
}
.noidung-trai{
/*height:1000px;
background-color: aqua;*/
width:80%;
border-radius: 10px; /*viền bo cong tròn */
}
.noidung-phai{
/*height:1000px;
background-color: red;*/
width:20%;
}
.tieude{
    background-color: #2fa4e7;
    padding:20px;
    color:white;
    
    font-size:x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach{
    display:flex;
    justify-content: space-between;
}
.baiviet{
    height:200px;
    background-color: grey;
    width:32%;
    display:flex;
    overflow:hidden;
    flex-direction: column;
}
.baiviet img{
            width:100%;
            height:190px;
            object-fit: cover;
}
.info{
    padding:10px;

}
.title{
    font-size: 13px;
    font-weight: bold;
   
}



  .login,
.app {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.thongbao {
  border: 1px solid #222;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}


.thongbao-header {
  background: #007acc;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.thongbao-header .icon {
  margin-right: 8px;
}


.thongbao-content {
  display: flex;
  background: #fff;
}


.thongbao-left {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #333;
}

.thongbao-left img {
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 2px;
  weight:4px;
}

.thongbao-time {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 5px;
}

.thongbao-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #4da6ff;
  text-decoration: none;
}

.thongbao-title:hover {
  text-decoration: underline;
}


.thongbao-right {
  flex: 2;
  padding: 10px;
}

.thongbao-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.thongbao-right ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 6px 0;
}

.thongbao-right ul li:before {
  content: "»";
  margin-right: 6px;
  color: #4da6ff;
}

.thongbao-right ul li a {
  flex: 1;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.thongbao-right ul li a:hover {
  color: #4da6ff;
}

.thongbao-right .date {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
  white-space: nowrap;
}.huongdan {
  background: #fff;       
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.huongdan-header {
  background: #007acc;     
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}

.huongdan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.huongdan-list li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #333;
}

.huongdan-list li a {
  color: #333;
  text-decoration: none;
  position: relative;
  padding-left: 15px;
}

.huongdan-list li a::before {
  content: "»";
  position: absolute;
  left: 0;
  color: #00aaff;
}

.huongdan-list li a:hover {
  text-decoration: underline;
  color:#00aaff;
}

.huongdan-list .date {
  color: #bbb;
  font-size: 13px;
  white-space: nowrap;   
}



.login h3,
.app h3 {
  background-color: #2fa4e7;
    padding:20px;
    color:white;
    
    font-size:x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;

}

.login input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login button {
  width: 100%;
  padding: 10px;
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login button:hover {
  background: #1976d2;
  
}

.app img {
  width: 100%;
  border-radius: 3px;
}              